.navbar {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 60px;
  width: 100%;
}

.text {
  font-weight: 800;
  font-size: 20px;
}

.dark-toggle {
  display: flex;
  width: 105px;
  justify-content: space-between;
  align-items: center;
}

.dark-toggle:hover {
  cursor: pointer;
}

.text-dark {
  font-weight: 600;
}


@media (min-width: 320px) and (max-width: 480px) {

  .navbar {
    padding: 0px 20px;
    height: 90px;
    width: 100%;
  }
  
  .text, .text-dark {
    font-size: 13px;
  }

  .dark-toggle {
    width: 30%;
  }
  
}
