.btn-back {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  background:  hsl(0, 0%, 98%);
}

.btn-back:hover {
  cursor: pointer;
}

.btn-back span {
  margin-left: 8px;
}

.img-flag {
  width: 550px;
  height: 400px;
}

.flag-text-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin-top: 60px;
}

.text-section {
  width: 50%;
  border: 1px solid blue;
}

.information-text {
  margin-top: 20px;
  display: flex;
}

.right-section-text {
  margin-left: 20%;
}