.container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(2, 380);
  grid-auto-rows: 380px;
  grid-gap: 50px;
}

.container-one {
  width: 300px ;
}

@media (min-width: 320px) and (max-width: 480px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-one {
    width: 100% ;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 380);
    grid-auto-rows: 380px;
    grid-gap: 50px;
  } 

  .container-one {
    width: 100% ;
  }
}


